<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Landing page example</title>
		<!-- <link rel="stylesheet" href="style.css" /> -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
	</head>
	<body>
		<div class="landing">
			<div class="landing-left">
				<h1 class="siteTitle">Pick-a-book</h1>
				<p class="siteDescription">book review website</p>
				<div class="buttons">
					<a href="/login" class="loginBtn">Login</a>
					<a href="/register" class="registerBtn">Register</a></br></br>
				</div>
			</div>
			<img src="{{ url_for('static', filename='1.png') }}" alt="cover" class="cover-image" />
		</div>
	</body>
</html>
