<html>
    <head>
        <title>{{ user }} home page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='userhome-style.css') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body style="text-align: center;">
        <nav class="navbar navbar-light bg-light justify-content-between mystyle">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='goodreads.jpeg') }}" width="90" height="50" class="d-inline-block align-top" alt="">
            </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button formaction = "/search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <br><br>
        <h1>Welcom To Goodreads!!</h1>
        <br><br><br>
        <p style="text-align: center;"> Welcome {{ user }}</p>
        <form class="button" action="/logout">
            <button type="submit" class="btn btn-primary" style = "float:inline-end">Logout</button>
        </form>
    </body>
</html>