<html>
    <head>
        <title>{{ user }} home page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='userhome-style.css') }}"/>
        <style>
            .pstyle {
                background: rgb(206, 92, 50);
                height: 30px;
                width: 300px;
            }
        </style>
    </head>
    <body style="text-align: center;">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">My Books</label>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        </br></br>
        <p class="pstyle">Welcome {{ user }} to GoodReads!</p>
    </body>
</html>