    body {
        background-color: rgb(156, 199, 139);
        font-family: Arial;
        margin: 60;
    }   

    .topnav {
        list-style-type: none;
        margin: 0;
        padding-left: 50px;
        overflow: hidden;
    }
      
    .topnav-li {
        float: left;
    }
      
    .topnav-li a {
        display: inline-flex;
        padding: 10px;
        background-color: #1abc9c;
        text-decoration: none;
    }

    li a:hover {
        background-color: #3b74d1;
        border: 2px solid #3b74d1;
        padding-left: 50px;
        text-decoration: none;
        color: black;
    }
    
    .header {
        margin-left: 50px;
        text-align: left;
        height: 50px;
        width: 1200px;
        padding: 10px;
        background: #1abc9c;
        color: #3b74d1;
        font-size: 20px;
        border-radius: 10px;
    }

    /* Page Content */
    #content {
        padding-left:50px;
    }

    #experience {
        background-color: blue;
        padding-left:50px;
        margin-top: 10px;
    }

    table {
        text-align : center;
        padding-left : 50px;
    }

    th {
        background-color: #1abc9c;
        font-size: 20px;
        font-weight:bold;    
    }

    td {
        border : 2px solid #1abc9c;
        font-family: 'Helvetica', Times, serif;    
    }
    
    h3 {
        height: 30px;
        width: 1125px;
        margin-left: 50px;
        padding-left: 100px;
        background: #1abc9c;
        border-radius: 10px;
    }

    #uls {
        background-color: blue;
        padding-left: 50px;
        height: 55px;
        width: 250px;
    }