    body {
        background-color: rgb(156, 199, 139);
        margin: 60;
        font-family: Arial;
    }

    .header {
        margin-left: 50px;
        text-align: left;
        height: 50px;
        width: 1200px;
        padding: 10px;
        background: #1abc9c;
        color: #3b74d1;
        font-size: 20px;
        border-radius: 10px;
    }

    .alert {
        height: 100px;
        width: 1200px;
        padding-left: 50px;
        margin-left: 50px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 50px;
        overflow: hidden;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: inline-flex;
        padding: 10px;
        background-color: #1abc9c;
        text-decoration: none;
    }

    li a:hover {
        background-color: #3b74d1;
        border: 2px solid #3b74d1;
        padding-left: 50px;
        text-decoration: none;
        color: black;
    }  
    