    body {
        background-color: rgb(170, 199, 156);
        font-family: Arial;
        margin: 60;
    }

    .topnav a {
        float: left;
        color: #3b74d1;
        text-align: center;
        margin-left: 50px;
        padding-left:50px;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border: 2px solid #1abc9c;
        background-color: #1abc9c;
    }
          
    .topnav a:hover {
        background-color: #3b74d1;
        border: 2px solid #3b74d1;
        padding-left:50px;
        color: black;
    }    

    .header {
        margin-left: 50px;
        text-align: left;
        height: 50px;
        width: 1200px;
        padding: 10px;
        background: #1abc9c;
        color: #3b74d1;
        font-size: 20px;
        border-radius: 10px;
    }

    /* Page Content */
    .content {
        padding-left:50px;
    }

    .experience {
        padding-left:50px;
        margin-top: 10px;
    }

    table {
        text-align : center;
        padding-left : 50px;
    }

    th {
        background-color: #1abc9c;
        font-size: 20px;
        font-weight:bold;    
    }

    td {
        border : 2px solid #1abc9c;
        font-family: 'Helvetica', Times, serif;    
    }
    
    h3 {
        height: 30px;
        width: 1125px;
        margin-left: 50px;
        padding-left: 100px;
        background: #1abc9c;
        border-radius: 10px;
    }

