    body {
        font-family: Arial;
        margin: 60;
        }

    @media (min-width: 500px) {
        body {
            background-color: rgb(156, 199, 139);
        }

        p::before {
            content: "";
        }

        p::after {
            content: "actual content";
        }
    }

    @media (max-width: 499px) {
        body {
            background-color: rgb(142, 142, 202);
        }

        p::before {
            content: "";
        }

        p::after {
            content: "changed content";
        }
    }

    .topnav {
        list-style-type: none;
        margin: 0;
        padding-left: 50px;
        overflow: hidden;
    }
      
    .topnav-li {
        float: left;
    }
      
    .topnav-li a {
        display: inline-flex;
        padding: 10px;
        background-color: #1abc9c;
        text-decoration: none;
    }

    .topnav-li a:hover {
        background-color: #3b74d1;
        border: 2px solid #3b74d1;
        padding-left: 50px;
        text-decoration: none;
        color: black;
    }

    ul {
        padding-left: 60px;
    }

    li {
        color: brown;
    }
    .header {
        margin-left: 50px;
        text-align: left;
        height: 50px;
        width: 1200px;
        padding: 10px;
        background: #1abc9c;
        color: #3b74d1;
        font-size: 20px;
        border-radius: 10px;
    }

    /* Page Content */
    .content {
        padding-left:50px;
    }

    .experience {
        padding-left:50px;
        margin-top: 10px;
    }

    /* Image Content */
    img {
        padding-left: 0px;
        text-align: left;
    }
    table {
        text-align : center;
        padding-left : 50px;
    }
    td {
        border : 2px solid #1abc9c;
        font-family: 'Helvetica', Times, serif;    
    }
    h3 {
        height: 30px;
        width: 1125px;
        margin-left: 50px;
        padding-left: 100px;
        background: #1abc9c;
        border-radius: 10px;
    }
    h2, h5 {
        padding-left: 50px;
    }
    th {
        background-color: #1abc9c;
        font-size: 20px;
        font-weight:bold;    
    }

    p {
        padding-left: 50px;
    }

    .success, .warning, .error {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid black;
        padding-left: 50px;
        margin: 20px; }
      
    .success {
        background-color: rgb(116, 206, 116); 
        width: 500px;
        height: 30px;
    }
      
    .warning {
        background-color: rgb(206, 116, 116); 
        width: 500px;
        height: 30px;
    }
      
    .error {
        background-color: rgb(116, 116, 206); 
        width: 500px;
        height: 30px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .container > div {
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        width: 200px;
    }

    .padd {
        padding-left: 50px;
    }