    body {
        font-family: Arial;
        margin: 60;
        }

    @media (min-width: 500px) {
        body {
            background-color: rgb(199, 120, 120);
        }

        p::before {
            content: "";
        }

        p::after {
            content: "actual content";
        }
    }

    @media (max-width: 499px) {
        body {
            background-color: rgb(142, 142, 202);
        }

        p::before {
            content: "";
        }

        p::after {
            content: "changed content";
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 50px;
        overflow: hidden;
    }
      
    li {
        float: left;
    }
      
    li a {
        display: inline-flex;
        padding: 10px;
        background-color: #1abc9c;
        text-decoration: none;
    }

    li a:hover {
        background-color: #3b74d1;
        border: 2px solid #3b74d1;
        padding-left: 50px;
        text-decoration: none;
        color: black;
    }

    .header {
        margin-left: 50px;
        text-align: left;
        height: 50px;
        width: 1200px;
        padding: 10px;
        background: #1abc9c;
        color: #3b74d1;
        font-size: 20px;
        border-radius: 10px;
    }

    /* Page Content */
    .content {
        padding-left:50px;
    }

    .experience {
        padding-left:50px;
        margin-top: 10px;
    }

    /* Image Content */
    img {
        padding-left: 0px;
        text-align: left;
    }
    table {
        text-align : center;
        padding-left : 50px;
    }
    td {
        border : 2px solid #1abc9c;
        font-family: 'Helvetica', Times, serif;    
    }
    h3 {
        height: 30px;
        width: 1125px;
        margin-left: 50px;
        padding-left: 100px;
        background: #1abc9c;
        border-radius: 10px;
    }
    h2 {
        padding-left: 50px;
    }
    th {
        background-color: #1abc9c;
        font-size: 20px;
        font-weight:bold;    
    }

    p {
        padding-left: 50px;
    }
